<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.home.dao.StudentMapper">
    <!--命名空间必须指向对应的Mapper接口-->


    <select id="getStudentByAge" parameterType="int" resultType="Student">
        SELECT name, age FROM student WHERE age = #{age}
    </select>
</mapper>